{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<title>
{% block title %}
{% endblock %}
</title>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title></title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/range-control.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
    <link href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    {% block css %}
    {% endblock %}
  </head>
<body>
{% include 'header.html' %}

{% block content %}


{% endblock %}

{% include 'footer.html' %}


</body>
</html>